# PostgreSQL
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_USER=your_username_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=your_database_name_here
PGDATA=/var/lib/postgresql/data/pgdata

# JWT
JWT_SECRET=your_jwt_secret_here

# App
PORT=4000
